+font-face('icons', font-files('lunchbus-icons.woff', woff, 'lunchbus-icons.ttf', ttf, 'lunchbus-icons.svg', svg), 'lunchbus-icons.eot')

%icon
	speak: none
	/* Enable Ligatures */
	-webkit-font-feature-settings: "liga","dlig"
	-moz-font-feature-settings: "liga=1, dlig=1"
	-moz-font-feature-settings: "liga","dlig"
	-ms-font-feature-settings: "liga","dlig"
	-o-font-feature-settings: "liga","dlig"
	font-feature-settings: "liga","dlig"
	text-rendering: optimizeLegibility
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	font-family: "icons"

%copy
	font-family: "chaparral-pro", Chaparral Pro, Georgia, Serif

%headline
	font-family: "futura-pt", Futura Std, Sans Serif
	text-transform: uppercase

%fat
	font-weight: 700

%skinny
	font-weight: 300

%headline--fat
	@extend %headline
	@extend %fat

%headline--skinny
	@extend %headline
	@extend %skinny

// Icons
[data-icon]:before
	//font-family: 'yourfont'
	content: attr(data-icon)
	margin-right: 0.75em
	+inline-block
	-webkit-font-smoothing: antialiased
