%visually-hidden
	border: 0
	clip: rect(0 0 0 0)
	height: 1px
	margin: -1px
	overflow: hidden
	padding: 0
	position: absolute
	width: 1px

@mixin unhide
	width: auto
	clip: none
	margin: 0
	position: relative
	height: auto

.unhide
	+unhide
